.abstract-widget {
    border 1px solid limegreen
    padding 20px
    margin 10px

    &__title {
        font-size 24px
        margin-bottom 15px
    }

    &__code {
        font-size 13px
        padding 20px
        border 1px dashed darkolivegreen
    }
}