@import 'nib'

font-main = 'Open Sans'
font-alternate = Georgia

color-purple = #a261ac
color-purple-light = #ba72c5
color-purple-smoke = #fbe2ff
color-white = #ffffff
color-black = #000000
color-grey = #7c7c7c
color-light-grey = #c7c7c7
color-smoke = #f2f2f2
color-red = #f43837
color-red-light = #eec5c3
color-lime = #82ffa8
color-green = #739257

animation-main = cubic-bezier(0.19, 1, 0.22, 1)
animation-alternate = ease
