@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/RjgO7rYTmqiVp7vzi-Q5USZ2oysoEQEeKwjgmXLRnTc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://fonts.gstatic.com/s/opensans/v10/EInbV5DfGHOiMmvb1Xr-hndckgy16U_L-eNUgMz0EAk.ttf) format('truetype');
}

html {
    overflow-y scroll
    height 100%
    padding 0
    margin 0
}

body {
    min-height 100%
    height auto
    padding 0
    margin 0
    font: normal 16px / 1.4 font-main, font-alternate, 'sans-serif';
    background: color-white;
    color: color-black;
}


a {
    color: color-purple;
    text-decoration: none;
}

input, select, textarea {
    font: normal 16px font-main, font-alternate, 'sans-serif';
}

hr {
    height: 1px;
    border-width: 0;
    background: color-light-grey;
    color: color-light-grey;
}

::-moz-selection {
    background: color-purple;
    color: color-white;
    text-shadow: none;
}

::selection {
    background: color-purple;
    color: color-white;
    text-shadow: none;
}