.content {
    padding 40px 120px 20px 120px
    font-size 16px
    line-height 22px

    h1, h2, h3, h4, h5, h6 {
        margin: 1.4em 0 1em 0;
        line-height: 1.2;
        font-family: font-main, font-alternate, 'sans-serif';
        font-weight: normal;
        cursor: default;
    }

    h5, h6 {
        font-weight: bold;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 14px;
    }

    p {
        margin 1em 0

        &:first-of-type {
            margin-top 0
        }
    }
}